body {
    background-color: black;
    text-align: center;
}

#heading, .logo, .text, .cardContainer {
  position: relative;
}

#heading {
  padding: 45px 0px 0px 50px;
  letter-spacing: 15px;
}

.logo {
width: 300px;
padding-right: 10px;
margin: 15px 0px 25px 0px;
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  
  .stars {
    background:#000 url(images/stars.png) repeat top center;
    z-index:0;
  }

  P {
    color: white;
    font-family: 'Nunito Sans Light', sans-serif;
    letter-spacing: 9px;
  }

  p a {
    color: yellow;
  }

  p a:hover {
    color: rgb(143, 143, 143);
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 75px 0px 0px 0px;
    padding: 0px 200px;
  }

  .box {
    width: 200px;
    margin: 0px 15px;
    padding: 1rem;
  }

  #add {
    margin: 90px 0px 40px 0px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  input {
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: beige;
    font-family: 'Nunito Sans Light', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 5px;
  }
  
  .button {
    width: 150px;
    font-family: 'Nunito Sans Light', sans-serif;
    color: black;
    letter-spacing: 5px;
    font-size: 1rem;
    margin: 30px 0px 50px 0px;
  }

  