body {
    font-family: 'Nunito Sans Light', sans-serif;
    text-align: left;
    color: rgb(85, 84, 84);
    margin: 0;
}

a {
    text-decoration: none;
    color: #1f1f1f;
    letter-spacing: 2px;
}

a:hover {
    color: rgb(168, 168, 168);  
}

#navbar ul {
    text-align: right;
    position: fixed;
    top: 0;
    right: 15px;
    width: 100%;
    list-style-type: none;
}

#navbar ul li {
    display: inline-block;
    margin: 0px 0px 30px 25px;
    font-size: .9rem;
}

.pdf {
    display: inline-block;
    width: 100%;
    height: 125px;
    text-align: right;
    position: fixed;
    top: 60px;
    left: 81.8%;
}

figure.pdf {
    margin: 0;
}

img.pdf {
    width: 230px;
    height: 125px;
}

.pdfCaption {
    display: inline-block;
    width: 100%;
    text-align: right;
    position: fixed;
    right: 1.1%;
    top: 27.5%;
    font-family: 'Nunito Sans Light', sans-serif;
    font-size: 0.85rem;
}

.container {
    margin: 0 10% 0 25%;
    width: 632px;
    display: flex;
    flex-direction: column;
}

figure.headerImg {
    margin: 0;
}

.copyHeader {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    margin: 15px 0 0 0;
    letter-spacing: 2px;
    font-weight: 500;
    font-weight: bold;
}

.summaryHeader {
    margin-top: 55px;
}

img.fig1, figure.fig1 {
    width: 100%;
    margin: auto;
}

figure.fig1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.fig2 {
    width: 300px;
    padding: 15px;
}

figure.fig2 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.fig2 {
    box-shadow: 5px 5px 7px lightgray;
}

figcaption {
    font-family: 'Nunito Sans ExtraLight', sans-serif;
    font-size: 0.85rem;
    text-align: left;
}

.topLink {
    text-align: right;
    font-size: 0.9rem;
    margin-right: 15px;
}

footer {
    background-color: #262626;
    color: #fff;
    padding: 8px 0px;
    font-size: 0.7rem;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 60px;
}