body {
  font-family: 'Nunito Sans Light', sans-serif;
  text-align: center;
  margin: 0;
}

/* intro section */

#intro {
  margin-right: 100px;
  max-height: 100vh;
  min-height: 100vh;
}

figure.powder {
  margin: 0;
}

.nameHeader, h4 {
  position: relative;
}

.nameHeader {
  color: #fff;
  margin: 20px;
  font-size: 4rem;
  letter-spacing: 35px;
  padding-left: 120px;
  bottom: 400px;
}

h4 {
  color: rebeccapurple;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 18px;
  padding-left: 100px;
  bottom: 385px;
}

/* arrow link */

.link {
  width: 4%;
  position: relative;
  bottom: 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3px);
  }
}

/* portfolio section */

.portfolioHeader {
  margin: 70px 0 70px 0;
  font-size: 2rem;
  padding: 0;
  letter-spacing: 15px;
  font-family: 'Nunito Sans ExtraLight', sans-serif;
}

/* div toggle */

div.menu {
  margin-bottom: 15px;
  padding-right: 23px;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  letter-spacing: 2px;
}

a:hover {
  color: rgb(168, 168, 168);
}

.menu a {
  border-right: 1px solid rgb(85, 84, 84);
  cursor: pointer;
  padding: 0 15px;
  font-size: 1.1rem;
}

/* .menu a:active {
  background-color: rgb(168, 168, 168); 
} */

#noBorder {
  border: none;
}

/* dev and ux/ui divs */

.dev, .ux-ui {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10%;
  justify-content: center;
  margin-top: 25px;
}

/* project tiles */

.hoverContainer {
  position: relative;
  width: 330px;
  height: 225px;
  margin: 5px;
}

figure.project-tile {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.project-pic {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .5s ease;
}


.overlay {
  transition: .5s ease;
  opacity: 0;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hoverContainer:hover .project-pic {
  opacity: 0.1;
}

.hoverContainer:hover .overlay {
  opacity: 1;
}

.text {
  color: #262626;
  font-size: 1.05rem;
  letter-spacing: 1px;
  text-align: left;
}

.text p {
  padding: 0;
  margin: 0;
}

/* about div */

#div1 {
  margin: 50px 25% 0 25%;
  display: flex;
}

.about {
  text-align: left;
  margin: auto 0 auto 25px;
  width: 65%;
}

figure.contactImg {
  width: 35%;
  margin: auto;
 
}

img.contactImg {
  border: none;
  border-radius: 100%;
  width: 100%;
}

.name {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Nunito Sans ExtraLight', sans-serif;  
}

.uvu {
  margin: 5px 0 30px 0;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-family: 'Nunito Sans ExtraLight', sans-serif;
}

.contactInfo a {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  font-family: 'Nunito Sans ExtraLight', sans-serif;
}

.opportunity {
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  font-family: 'Nunito Sans ExtraLight', sans-serif;
}

.contactInfo {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, turquoise, red);
  background: -o-linear-gradient(right, turquoise, red);
  background: -moz-linear-gradient(right, turquoise, red);
  background: linear-gradient(to right, turquoise, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* back to top link */

.bottomLink {
  width: 3.5%;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

/* footer */

footer {
  background-color: #262626;
  color: #fff;
  padding: 6px 0px;
  font-size: 0.66rem;
  letter-spacing: 2.5px;
  margin-top: 100px;
}

footer a {
  color: white;
}

/* mobile */

@media only screen and (max-width: 600px) {
    #intro {
    padding: 0;
    margin-right: 0;
  }
  figure.powder {
    width: 120%;
  }

  img.powder {
    width: 100%; 
  }

  .nameHeader, h4 {
    position: relative;
    bottom: 260px;
    right: 25px;
  }
  .nameHeader {
    font-size: 1.8rem;
    letter-spacing: 20px;
  }
  h4 {
    font-size: .9rem;
    letter-spacing: 10px;
  }

  .link {
  display: none;
  }

  .portfolioHeader {
    margin-bottom: 50px;
  }

  .bottomLink {
  display: none;
  }

  footer {
    font-size: 0.6rem;
  }
}