body {
    background-color: black;
    font-family: 'Nunito Sans Light', sans-serif;
    margin: 0;
    text-align: center;
    height: 55vh;
    background-image: url(mars.jpg);
}

#heading {
    color: white;
    letter-spacing: 8px;
    font-size: 2rem;
    margin-bottom: 15px;
}

#subHeading {
    color: white;
    font-size: 1rem;
    letter-spacing: 6px;
}

#tatListCont {
    display: flex;
    flex-direction: column;
    color: white;
}

#tatListCont p {
    margin: 5px;
    font-size: 1rem;
}