body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
    height: 55vh;
}

img {
    width: 100%;
}

h1 {
    color: white;
    position: relative;
    bottom: 475px;
    margin: 0;
    
}

.lukeQuote {
    color: white;
    position: relative;
    bottom: 450px;
    font-size: 1rem;
}

#tatListCont {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 400px;
    color: white;
}

#tatListCont p {
    margin: 5px;
    font-size: 1rem;
}