body {
    background-color: black;
    font-family: 'Nunito Sans Light', sans-serif;
    margin: 0;
    text-align: center;
    background-image: url(mars.gif);
    background-repeat: no-repeat;
}

#heading {
    color: white;
    letter-spacing: 8px;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 110px;
}

#subHeading {
    color: white;
    font-size: 1rem;
    letter-spacing: 6px;
    margin-bottom: 110px;
}

#tatContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 100px 0px 100px;
}

.tile {
    width: 175px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 75px 0px;
    
}

p {
    color: white;
}

figure {
    width: 175px;
    margin: 0px;
}

img {
    width: 175px;
}

figcaption {
background-color: white;
color: black;
padding: 9px;
position: relative;
bottom: 10px;
font-size: .85rem;
font-family: 'Nunito Sans', sans-serif;
max-width: 175px;
height: 70px;
}

