* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
margin: 0px;
background-color: #0E2440;
}

.container {
    max-width: 960px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 40px;  
}

header img {
    margin-top: 20px;
    width: 100px;
    }

 p {
    color: #fff;
}

.bio-container {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.bio-container img {
    height: 210px;
    margin: 15px 0px 10px 15px;
}

.bio {
    flex: 1;
}

.name-date {
    margin: 15px 15px 19px 15px;
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0;
    color: rgb(198, 240, 254);
}

#name {
    color: rgb(198, 240, 254);
}

time {
    color: #fff;
    font-size: 1.5rem;
}

.chose {
    margin: 15px;
    padding: 2px 0px 2px 12px;
    background-color: #545353; 
    font-size: 1rem;
}

#chose-title {
    color: rgb(198, 240, 254);
    margin: 13px 0px 16px 0px;
}

ul {
    color: #fff;
    padding-left: 20px;
}

.tech {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 15px 40px 10px;

}

figure {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 0px;
}

figure img {
    max-height: 200px;
    max-width: 200px;
    align-self: center;
}

figcaption {
    position: relative;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    text-align: left;
    font-size: 0.95rem;
}

#learn-title {
    color: rgb(198, 240, 254);
    margin: 15px;
}

.excited {
    background-color: #545353; 
    margin: 15px;
    padding: 1.5px 14px 1.5px 14px;
    font-size: 1rem;
}

#blue-title {
    color: rgb(198, 240, 254);
}


footer {
    text-align: center;
    padding: 0px 0px 5px 0px;
    font-size: 0.9rem;
}
